
.initial-content {
    text-align: center !important;
}

#twine-button-container {
    text-align: center;
    display: grid;
    place-items: center;
    padding: 10px;
    text-align: center;
}
#twine-btn {
    display: inline-block;
    text-decoration: none;
    border: 1px solid;
    border-radius: 10px;
    text-align: center;
}
