---
layout: default
---
{%- assign locale = page.locale | default: layout.locale | default: site.locale %}

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html locale=locale %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

<div id="main" role="main">
  <section class="page__content" itemprop="text">
    <h1>{{ site.title }}</h1>
        {% if site.subtitle %}<p>{{ site.subtitle }}</p>{% endif %}
        {{ content }}
  </section>       
</div>
